{
    "root": true,
    "extends": ["airbnb", "@react-native-community", "prettier"],
    "env": {"browser": true},
    "rules": {
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [".js", ".jsx"]
            }
        ],
        "global-require": "off"
    },
    "plugins": ["prettier"]
}
